[run]
source = app
omit = 
    */tests/*
    */test_*
    */venv/*
    */venv_wsl/*
    */__pycache__/*
    */migrations/*
    */env/*
    */build/*
    */dist/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod

[html]
directory = htmlcov